{{> header }}
<script>
    $(function(){
        var filtersFirstInitialized = false;
        var oTable = $('#users_list').DataTable( {
            "order": [[1, "desc"]],
            dom: '<"#add.row selectWrapper m-lg-b">frtlip',
            processing: true,
		})
    });
</script>

<section>
  <div class="content-wrapper">
    <div class="container-fluid">
            <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> CDE List</div>
        <div class="card-body">
          <div class="table-responsive">
                <div class="text-right"><a href="/cde/create" class="float-left btn btn-primary btn-rounded w-175 text-left">Add CDE <i class="fa fa-plus-circle fa-fw pull-right"></i></a>
                <table  id="users_list" class="table table-striped" border="1" width="100%">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Employee ID</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each output.data }}
                            <tr>
                                <td><a href="/cde/{{ this.uuid }}/edit">{{ this.user_id }}</a></td>
                                <td>{{ this.first_name }}</td>
                                <td>{{ this.last_name }}</td>
                                <td>{{ this.email }}</td>
                                <td>{{ this.employee_id }}</td>
                                <td>{{ this.status }}</td>
                                <td><span class="btn btn-danger" data-uuid="{{ this.uuid }}" id="user-delete">Delete</span></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    </div>
</section>
<script src="/js/jquery-ui.js"></script>
{{> footer}}